In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv', index_col = 'RowNumber')

In [4]:
dataset.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Features and target
X = dataset.iloc[:, 2:12]
X  # drop CustomerId and Surname

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
RowNumber,,,,,,,,,,
1,619,France,Female,42,2,0.00,1,1,1,101348.88
2,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
3,502,France,Female,42,8,159660.80,3,1,0,113931.57
4,699,France,Female,39,1,0.00,2,0,0,93826.63
5,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9996,771,France,Male,39,5,0.00,2,1,0,96270.64
9997,516,France,Male,35,10,57369.61,1,1,1,101699.77
9998,709,France,Female,36,7,0.00,1,0,1,42085.58
9999,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
10000,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [6]:
# Features and target
Y = dataset.iloc[:, 12].values  # Churn column
Y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [7]:
# Pipeline: One-hot encode categorical and scale
pipeline = Pipeline([
    ('preprocess', ColumnTransformer(
        transformers=[
            ('gender', OneHotEncoder(drop='first'), ['Gender']),
            ('geo', OneHotEncoder(drop='first'), ['Geography'])
        ],
        remainder='passthrough'
    )),
    ('scaler', StandardScaler())
])

In [8]:
X = pipeline.fit_transform(X)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [10]:
# Build ANN
classifier = Sequential()
classifier.add(Dense(6, activation='relu', input_shape=(X_train.shape[1],)))
classifier.add(Dropout(0.1))
classifier.add(Dense(6, activation='relu'))
classifier.add(Dropout(0.1))
classifier.add(Dense(1, activation='sigmoid'))

C:\Users\Dell\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [13]:
# Train ANN
history = classifier.fit(X_train, y_train, batch_size=32, epochs=100, validation_split=0.1, verbose=2)

Epoch 1/100
225/225 - 7s - 32ms/step - accuracy: 0.5962 - loss: 0.7314 - val_accuracy: 0.8025 - val_loss: 0.5653
Epoch 2/100
225/225 - 1s - 5ms/step - accuracy: 0.7911 - loss: 0.5330 - val_accuracy: 0.7950 - val_loss: 0.4845
Epoch 3/100
225/225 - 1s - 5ms/step - accuracy: 0.7931 - loss: 0.4813 - val_accuracy: 0.7962 - val_loss: 0.4457
Epoch 4/100
225/225 - 1s - 5ms/step - accuracy: 0.7974 - loss: 0.4648 - val_accuracy: 0.8037 - val_loss: 0.4275
Epoch 5/100
225/225 - 1s - 5ms/step - accuracy: 0.8039 - loss: 0.4486 - val_accuracy: 0.8188 - val_loss: 0.4128
Epoch 6/100
225/225 - 1s - 5ms/step - accuracy: 0.8082 - loss: 0.4426 - val_accuracy: 0.8238 - val_loss: 0.4047
Epoch 7/100
225/225 - 1s - 5ms/step - accuracy: 0.8104 - loss: 0.4394 - val_accuracy: 0.8313 - val_loss: 0.3994
Epoch 8/100
225/225 - 1s - 4ms/step - accuracy: 0.8168 - loss: 0.4288 - val_accuracy: 0.8350 - val_loss: 0.3929
Epoch 9/100
225/225 - 1s - 5ms/step - accuracy: 0.8160 - loss: 0.4322 - val_accuracy: 0.8388 - val_loss: 0.3890
Epoch 10/100
225/225 - 1s - 4ms/step - accuracy: 0.8178 - loss: 0.4276 - val_accuracy: 0.8425 - val_loss: 0.3847
Epoch 11/100
225/225 - 1s - 5ms/step - accuracy: 0.8176 - loss: 0.4238 - val_accuracy: 0.8438 - val_loss: 0.3828
Epoch 12/100
225/225 - 1s - 5ms/step - accuracy: 0.8239 - loss: 0.4174 - val_accuracy: 0.8438 - val_loss: 0.3772
Epoch 13/100
225/225 - 1s - 5ms/step - accuracy: 0.8269 - loss: 0.4154 - val_accuracy: 0.8450 - val_loss: 0.3714
Epoch 14/100
225/225 - 1s - 5ms/step - accuracy: 0.8308 - loss: 0.4054 - val_accuracy: 0.8450 - val_loss: 0.3669
Epoch 15/100
225/225 - 1s - 5ms/step - accuracy: 0.8319 - loss: 0.4037 - val_accuracy: 0.8487 - val_loss: 0.3619
Epoch 16/100
225/225 - 1s - 5ms/step - accuracy: 0.8361 - loss: 0.3993 - val_accuracy: 0.8487 - val_loss: 0.3578
Epoch 17/100
225/225 - 1s - 5ms/step - accuracy: 0.8318 - loss: 0.3992 - val_accuracy: 0.8462 - val_loss: 0.3578
Epoch 18/100
225/225 - 1s - 5ms/step - accuracy: 0.8392 - loss: 0.3940 - val_accuracy: 0.8525 - val_loss: 0.3539
Epoch 19/100
225/225 - 1s - 5ms/step - accuracy: 0.8399 - loss: 0.3861 - val_accuracy: 0.8500 - val_loss: 0.3498
Epoch 20/100
225/225 - 1s - 6ms/step - accuracy: 0.8408 - loss: 0.3810 - val_accuracy: 0.8525 - val_loss: 0.3471
Epoch 21/100
225/225 - 1s - 5ms/step - accuracy: 0.8417 - loss: 0.3821 - val_accuracy: 0.8525 - val_loss: 0.3456
Epoch 22/100
225/225 - 1s - 5ms/step - accuracy: 0.8447 - loss: 0.3784 - val_accuracy: 0.8487 - val_loss: 0.3449
Epoch 23/100
225/225 - 1s - 5ms/step - accuracy: 0.8422 - loss: 0.3811 - val_accuracy: 0.8500 - val_loss: 0.3443
Epoch 24/100
225/225 - 1s - 4ms/step - accuracy: 0.8449 - loss: 0.3754 - val_accuracy: 0.8512 - val_loss: 0.3429
Epoch 25/100
225/225 - 1s - 4ms/step - accuracy: 0.8422 - loss: 0.3799 - val_accuracy: 0.8500 - val_loss: 0.3437
Epoch 26/100
225/225 - 1s - 5ms/step - accuracy: 0.8443 - loss: 0.3754 - val_accuracy: 0.8475 - val_loss: 0.3441
Epoch 27/100
225/225 - 1s - 5ms/step - accuracy: 0.8433 - loss: 0.3713 - val_accuracy: 0.8487 - val_loss: 0.3418
Epoch 28/100
225/225 - 1s - 5ms/step - accuracy: 0.8443 - loss: 0.3718 - val_accuracy: 0.8512 - val_loss: 0.3395
Epoch 29/100
225/225 - 1s - 5ms/step - accuracy: 0.8449 - loss: 0.3707 - val_accuracy: 0.8562 - val_loss: 0.3369
Epoch 30/100
225/225 - 1s - 5ms/step - accuracy: 0.8446 - loss: 0.3695 - val_accuracy: 0.8537 - val_loss: 0.3374
Epoch 31/100
225/225 - 1s - 5ms/step - accuracy: 0.8457 - loss: 0.3690 - val_accuracy: 0.8512 - val_loss: 0.3368
Epoch 32/100
225/225 - 1s - 5ms/step - accuracy: 0.8457 - loss: 0.3743 - val_accuracy: 0.8512 - val_loss: 0.3378
Epoch 33/100
225/225 - 1s - 5ms/step - accuracy: 0.8460 - loss: 0.3715 - val_accuracy: 0.8537 - val_loss: 0.3370
Epoch 34/100
225/225 - 1s - 5ms/step - accuracy: 0.8497 - loss: 0.3699 - val_accuracy: 0.8525 - val_loss: 0.3346
Epoch 35/100
225/225 - 1s - 5ms/step - accuracy: 0.8500 - loss: 0.3670 - val_accuracy: 0.8487 - val_loss: 0.3376
Epoch 36/100
225/225 - 1s - 6ms/step - accuracy: 0.8474 - loss: 0.3659 - val_accuracy: 0.8487 - val_loss: 0.3377
Epoch 37/100
225/225 - 1s - 5ms/step - accuracy: 0.8464 - loss: 0.3700 - val_accuracy: 0.8575 - val_loss: 0.3324
Epoch 38/100
225/225 - 1s - 6ms/step - accuracy: 0.8479 - loss: 0.3687 - val_accuracy: 0.8537 - val_loss: 0.3351
Epoch 39/100
225/225 - 1s - 5ms/step - accuracy: 0.8482 - loss: 0.3667 - val_accuracy: 0.8550 - val_loss: 0.3340
Epoch 40/100
225/225 - 1s - 4ms/step - accuracy: 0.8506 - loss: 0.3650 - val_accuracy: 0.8562 - val_loss: 0.3328
Epoch 41/100
225/225 - 1s - 6ms/step - accuracy: 0.8492 - loss: 0.3635 - val_accuracy: 0.8562 - val_loss: 0.3330
Epoch 42/100
225/225 - 1s - 5ms/step - accuracy: 0.8468 - loss: 0.3670 - val_accuracy: 0.8600 - val_loss: 0.3307
Epoch 43/100
225/225 - 1s - 5ms/step - accuracy: 0.8479 - loss: 0.3645 - val_accuracy: 0.8550 - val_loss: 0.3335
Epoch 44/100
225/225 - 1s - 5ms/step - accuracy: 0.8499 - loss: 0.3667 - val_accuracy: 0.8550 - val_loss: 0.3321
Epoch 45/100
225/225 - 1s - 5ms/step - accuracy: 0.8483 - loss: 0.3663 - val_accuracy: 0.8562 - val_loss: 0.3328
Epoch 46/100
225/225 - 1s - 5ms/step - accuracy: 0.8461 - loss: 0.3679 - val_accuracy: 0.8550 - val_loss: 0.3334
Epoch 47/100
225/225 - 1s - 5ms/step - accuracy: 0.8471 - loss: 0.3638 - val_accuracy: 0.8587 - val_loss: 0.3311
Epoch 48/100
225/225 - 1s - 5ms/step - accuracy: 0.8481 - loss: 0.3705 - val_accuracy: 0.8562 - val_loss: 0.3340
Epoch 49/100
225/225 - 1s - 5ms/step - accuracy: 0.8490 - loss: 0.3615 - val_accuracy: 0.8600 - val_loss: 0.3319
Epoch 50/100
225/225 - 1s - 4ms/step - accuracy: 0.8500 - loss: 0.3643 - val_accuracy: 0.8575 - val_loss: 0.3318
Epoch 51/100
225/225 - 1s - 4ms/step - accuracy: 0.8483 - loss: 0.3644 - val_accuracy: 0.8550 - val_loss: 0.3315
Epoch 52/100
225/225 - 1s - 4ms/step - accuracy: 0.8485 - loss: 0.3645 - val_accuracy: 0.8525 - val_loss: 0.3330
Epoch 53/100
225/225 - 1s - 6ms/step - accuracy: 0.8461 - loss: 0.3637 - val_accuracy: 0.8575 - val_loss: 0.3302
Epoch 54/100
225/225 - 1s - 5ms/step - accuracy: 0.8453 - loss: 0.3658 - val_accuracy: 0.8550 - val_loss: 0.3312
Epoch 55/100
225/225 - 1s - 5ms/step - accuracy: 0.8474 - loss: 0.3651 - val_accuracy: 0.8575 - val_loss: 0.3302
Epoch 56/100
225/225 - 1s - 5ms/step - accuracy: 0.8503 - loss: 0.3649 - val_accuracy: 0.8562 - val_loss: 0.3326
Epoch 57/100
225/225 - 1s - 5ms/step - accuracy: 0.8482 - loss: 0.3664 - val_accuracy: 0.8550 - val_loss: 0.3358
Epoch 58/100
225/225 - 1s - 5ms/step - accuracy: 0.8508 - loss: 0.3620 - val_accuracy: 0.8612 - val_loss: 0.3285
Epoch 59/100
225/225 - 1s - 5ms/step - accuracy: 0.8481 - loss: 0.3653 - val_accuracy: 0.8575 - val_loss: 0.3302
Epoch 60/100
225/225 - 1s - 6ms/step - accuracy: 0.8512 - loss: 0.3634 - val_accuracy: 0.8550 - val_loss: 0.3299
Epoch 61/100
225/225 - 1s - 4ms/step - accuracy: 0.8504 - loss: 0.3652 - val_accuracy: 0.8550 - val_loss: 0.3316
Epoch 62/100
225/225 - 1s - 5ms/step - accuracy: 0.8500 - loss: 0.3655 - val_accuracy: 0.8562 - val_loss: 0.3296
Epoch 63/100
225/225 - 1s - 5ms/step - accuracy: 0.8515 - loss: 0.3631 - val_accuracy: 0.8537 - val_loss: 0.3306
Epoch 64/100
225/225 - 1s - 5ms/step - accuracy: 0.8522 - loss: 0.3630 - val_accuracy: 0.8562 - val_loss: 0.3290
Epoch 65/100
225/225 - 1s - 5ms/step - accuracy: 0.8529 - loss: 0.3600 - val_accuracy: 0.8537 - val_loss: 0.3290
Epoch 66/100
225/225 - 1s - 5ms/step - accuracy: 0.8490 - loss: 0.3649 - val_accuracy: 0.8575 - val_loss: 0.3293
Epoch 67/100
225/225 - 1s - 6ms/step - accuracy: 0.8511 - loss: 0.3609 - val_accuracy: 0.8525 - val_loss: 0.3317
Epoch 68/100
225/225 - 2s - 7ms/step - accuracy: 0.8485 - loss: 0.3619 - val_accuracy: 0.8550 - val_loss: 0.3279
Epoch 69/100
225/225 - 1s - 5ms/step - accuracy: 0.8476 - loss: 0.3652 - val_accuracy: 0.8537 - val_loss: 0.3288
Epoch 70/100
225/225 - 1s - 5ms/step - accuracy: 0.8504 - loss: 0.3580 - val_accuracy: 0.8525 - val_loss: 0.3291
Epoch 71/100
225/225 - 1s - 6ms/step - accuracy: 0.8472 - loss: 0.3622 - val_accuracy: 0.8550 - val_loss: 0.3348
Epoch 72/100
225/225 - 1s - 6ms/step - accuracy: 0.8467 - loss: 0.3654 - val_accuracy: 0.8525 - val_loss: 0.3294
Epoch 73/100
225/225 - 1s - 5ms/step - accuracy: 0.8492 - loss: 0.3628 - val_accuracy: 0.8525 - val_loss: 0.3320
Epoch 74/100
225/225 - 1s - 4ms/step - accuracy: 0.8521 - loss: 0.3599 - val_accuracy: 0.8550 - val_loss: 0.3300
Epoch 75/100
225/225 - 1s - 6ms/step - accuracy: 0.8492 - loss: 0.3652 - val_accuracy: 0.8537 - val_loss: 0.3310
Epoch 76/100
225/225 - 1s - 5ms/step - accuracy: 0.8496 - loss: 0.3621 - val_accuracy: 0.8550 - val_loss: 0.3318
Epoch 77/100
225/225 - 1s - 5ms/step - accuracy: 0.8493 - loss: 0.3636 - val_accuracy: 0.8537 - val_loss: 0.3312
Epoch 78/100
225/225 - 1s - 6ms/step - accuracy: 0.8465 - loss: 0.3635 - val_accuracy: 0.8537 - val_loss: 0.3312
Epoch 79/100
225/225 - 1s - 5ms/step - accuracy: 0.8535 - loss: 0.3615 - val_accuracy: 0.8537 - val_loss: 0.3325
Epoch 80/100
225/225 - 1s - 5ms/step - accuracy: 0.8503 - loss: 0.3645 - val_accuracy: 0.8562 - val_loss: 0.3308
Epoch 81/100
225/225 - 1s - 5ms/step - accuracy: 0.8489 - loss: 0.3648 - val_accuracy: 0.8562 - val_loss: 0.3320
Epoch 82/100
225/225 - 1s - 5ms/step - accuracy: 0.8501 - loss: 0.3608 - val_accuracy: 0.8562 - val_loss: 0.3313
Epoch 83/100
225/225 - 1s - 5ms/step - accuracy: 0.8490 - loss: 0.3598 - val_accuracy: 0.8537 - val_loss: 0.3309
Epoch 84/100
225/225 - 1s - 6ms/step - accuracy: 0.8517 - loss: 0.3597 - val_accuracy: 0.8525 - val_loss: 0.3322
Epoch 85/100
225/225 - 1s - 5ms/step - accuracy: 0.8517 - loss: 0.3593 - val_accuracy: 0.8525 - val_loss: 0.3299
Epoch 86/100
225/225 - 1s - 5ms/step - accuracy: 0.8512 - loss: 0.3618 - val_accuracy: 0.8550 - val_loss: 0.3313
Epoch 87/100
225/225 - 1s - 5ms/step - accuracy: 0.8508 - loss: 0.3612 - val_accuracy: 0.8550 - val_loss: 0.3311
Epoch 88/100
225/225 - 1s - 6ms/step - accuracy: 0.8507 - loss: 0.3592 - val_accuracy: 0.8537 - val_loss: 0.3336
Epoch 89/100
225/225 - 1s - 5ms/step - accuracy: 0.8461 - loss: 0.3672 - val_accuracy: 0.8537 - val_loss: 0.3313
Epoch 90/100
225/225 - 1s - 5ms/step - accuracy: 0.8500 - loss: 0.3649 - val_accuracy: 0.8600 - val_loss: 0.3300
Epoch 91/100
225/225 - 1s - 5ms/step - accuracy: 0.8521 - loss: 0.3605 - val_accuracy: 0.8525 - val_loss: 0.3346
Epoch 92/100
225/225 - 1s - 5ms/step - accuracy: 0.8494 - loss: 0.3623 - val_accuracy: 0.8550 - val_loss: 0.3296
Epoch 93/100
225/225 - 1s - 4ms/step - accuracy: 0.8490 - loss: 0.3629 - val_accuracy: 0.8525 - val_loss: 0.3323
Epoch 94/100
225/225 - 1s - 4ms/step - accuracy: 0.8525 - loss: 0.3608 - val_accuracy: 0.8525 - val_loss: 0.3307
Epoch 95/100
225/225 - 1s - 5ms/step - accuracy: 0.8528 - loss: 0.3579 - val_accuracy: 0.8525 - val_loss: 0.3318
Epoch 96/100
225/225 - 1s - 4ms/step - accuracy: 0.8511 - loss: 0.3584 - val_accuracy: 0.8525 - val_loss: 0.3316
Epoch 97/100
225/225 - 1s - 4ms/step - accuracy: 0.8481 - loss: 0.3648 - val_accuracy: 0.8525 - val_loss: 0.3297
Epoch 98/100
225/225 - 1s - 5ms/step - accuracy: 0.8522 - loss: 0.3592 - val_accuracy: 0.8550 - val_loss: 0.3312
Epoch 99/100
225/225 - 1s - 5ms/step - accuracy: 0.8500 - loss: 0.3595 - val_accuracy: 0.8562 - val_loss: 0.3288
Epoch 100/100
225/225 - 1s - 5ms/step - accuracy: 0.8506 - loss: 0.3633 - val_accuracy: 0.8525 - val_loss: 0.3315

In [14]:
# Predict
y_pred = (classifier.predict(X_test) > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step

In [15]:
y_pred = classifier.predict(X_test)
print(y_pred[:5])

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
[[0.26458508]
 [0.20964889]
 [0.14138371]
 [0.08372349]
 [0.10392021]]

In [16]:
#Let us use confusion matrix with cutoff value as 0.5
y_pred = (y_pred > 0.5).astype(int)
print(y_pred[:5])

[[0]
 [0]
 [0]
 [0]
 [0]]

In [17]:
#Making the Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1549   46]
 [ 229  176]]

In [18]:
#Accuracy of our NN
print(((cm[0][0] + cm[1][1])* 100) / len(y_test), '% of data was classified correctly')

86.25 % of data was classified correctly